Unattended-Upgrade::Automatic-Reboot true;
Unattended-Upgrade::Automatic-Reboot-Time "05:00";

{% if incident_notify_email %}
Unattended-Upgrade::Mail "{{ incident_notify_email }}";
{% if incident_notify_email %}
Unattended-Upgrade::MailOnlyOnError true;
{% endif %}
{% endif %}

Unattended-Upgrade::Allowed-Origins {
        "${distro_id} ${distro_codename}-security";
//      "${distro_id} ${distro_codename}-updates";
};