[DEFAULT]
ignoreip = 127.0.0.1
bantime  = {{ fail2ban_bantime }}
findtime = {{ fail2ban_findtime }}
maxretry = {{ fail2ban_maxretry }}

[sshd]
port = {{ ssh_port }}
logpath = %(sshd_log)s
backend = %(sshd_backend)s